

 <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr no</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Email</th>
        <th scope="col">gender</th>


    </tr>
</thead>

<tbody>
    <tr *ngFor="let res of UserList">

        <th scope="row">{{res.id}}</th>
        <td>{{res.firstname}}</td>
        <td>{{res.lastname}}</td>
        <td>{{res.mobilenumber}}</td>
        <td>{{res.email}}</td>
        <td>{{res.gender}}</td>





    </tr>


</tbody>

        