.login
{
    margin: auto;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px black;
    margin-top: 50px;
    background-color: white;

}
#h1login
{
    text-align: center;
}

.btnSubmit{
    margin-left: 20px;
}
.bgimg
{

 background-image: url(./../../../assets/login.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;


}