<div class="navbar2">
    <div class="box1">
        <h1 id="h1">Online Examination System</h1>
    </div>
    <div  class="btn">
        <a routerLink="/admin/addexam">Add Exam</a>
        <a routerLink="/admin/examlist">Exam List</a>
        <a routerLink="/admin/addquestion">Add Question</a>
        <!-- <a routerLink="/admin/viewresult">View Result</a> -->
        <a routerLink="/admin/viewuser">View Users</a>
        <!-- <a (click)="logout()" class="btn btn-danger">LogOut</a> -->
    </div>
</div>



    <router-outlet></router-outlet>