<div class="contenar">
   <div class="img">
      <img src="./../../assets/reg1.png" alt="Registration" width="850px">
  </div>
  
  
  
  <div class="reg">
  <h1 id="h1reg">Registration</h1>
  <form action=""(ngSubmit)="onSubmit()">
  <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name" required name="firstname" [(ngModel)]="firstname"> 
      </div>
      <div class="col mt-2">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lastname" [(ngModel)]="lastname">
      </div>
   <div class="mt-2">
      <input type="email" class="form-control " placeholder="Email" aria-label="Email" name="email" [(ngModel)]="email">
   </div>   
  
   <div class="mt-2">
      <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password" [(ngModel)]="password">
   </div> 
   <div class="mt-2">
      <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" name="confirmpassword" [(ngModel)]="confirmpassword">
   </div> 
   <div class="mt-2">
      <input type="number" class="form-control" placeholder="Mobile Number" aria-label="Mobile Number" name="mobilenumber" [(ngModel)]="mobilenumber">
   </div>
   <div class="mt-2">
      <input type="date" class="form-control" placeholder="DOB" aria-label="DOB" name="dob" [(ngModel)]="dob" >
   </div>
   <div class="col-md-4 mt-2">
      <label for="inputState" class="form-label">Gender</label>
      <select id="inputState" class="form-select" name="gender" [(ngModel)]="gender">
        <option selected>Choose...</option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
      </div>
      <div class="col-12 mt-3 text-center">
          <button   type="submit" class=" btn btn-primary ">Submit</button>
          <input   class="btn btn-primary ms-3" type="reset" value="Reset">
        </div>
    </div>
   </form>
    </div>
  </div>
